<% if @tool_provider && @tool_provider.launch_presentation_return_url %>
  <p>
    Click <a href="<%= @tool_provider.build_return_url %>">here</a> to return to <%= @tool_provider.tool_consumer_instance_name || "your Tool Consumer" %>.
  </p>
<% end %>
